<template>
	<div id="footer">
		<div class="inner-links">
		</div>
		<div class="social-links">
			<a target="_blank" href="https://www.instagram.com/hangar.uno/"><icon name="instagram"></icon></a>
			<a target="_blank" href="https://www.facebook.com/hangarunosa/"><icon name="facebook"></icon></a>
		</div>
	</div>
</template>

<script>

import { EventBus } from '../event-bus.js';

export default {
	data() {
		return {
		}
	},
}
</script>
<style lang="sass" scoped>
#footer
	padding: 20px
	border-top: 1px solid #aaa
.social-links
	display: flex
	flex-direction: row
	justify-content: center
	align-items: center
	a
		color: black
		margin-left: 20px
		svg
			height: 17px
			width: auto
</style>