<template>
	<div v-if="fondo != null" :style="'background-image:url(\'' + fondo + '\');'" id="header">
		<div class="social-links">
			<a target="_blank" href="https://www.instagram.com/hangar.uno/"><icon name="instagram"></icon></a>
			<a target="_blank" href="https://www.facebook.com/hangarunosa/"><icon name="facebook"></icon></a>
		</div>
		<div class="logo"><img src="../../img/logos_home/logo.png"></div>
		<page-title class="title" :subrayado="false" text="NOTICIAS"></page-title>
		<blur :top="false"></blur>
	</div>
</template>

<script>

import { EventBus } from '../event-bus.js';

export default {
	data() {
		return {
			posts: null,
			fondo: null,
		}
	},
	components: {
		'page-title': require('../components/PageTitle.vue'),
		'blur': require('../components/Blur.vue'),
	},
	mounted() {
		EventBus.$on('dataLoaded', this.loadComponentData)
	},
	methods: {
		loadComponentData() {
			let metas = this.$parent.metas
			this.fondo = metas.blog_image
		}
	}
}
</script>
<style lang="sass" scoped>
#header
	height: 40vh
	background-position: center
	background-size: cover
	background-repeat: no-repeat
	display: flex
	align-items: center
	justify-content: flex-start
	padding-top: 5vh
	flex-direction: column
	position: relative
	.logo
		img
			height: 10vh
			min-height: 50px
	.title
		color: white
	.social-links
		display: flex
		flex-direction: row-reverse
		position: absolute
		top: 15px
		right: 15px
		a
			color: white
			margin-left: 20px
			svg
				height: 17px
				width: auto

</style>