<template>
	<div id="blog">
		<b-header ></b-header>
		<posts :language="lang"></posts>
		<b-footer></b-footer>
	</div>	
</template>
<script>
import { EventBus } from '../event-bus.js';
export default {
	components: {
		'b-header': require('./Header.vue'),
		'b-footer': require('./Footer.vue'),
		'posts': require('./Posts.vue'),
	},
	data(){
		return {
	      metas: [],
        lang: 'spanish'
	    }
	},
    methods: {
      loadData: function () {
        $.get('api/getMeta', function (response) {
          this.metas = response.metas
          this.lang = response.lang
          console.log('emitting data loaded')
          EventBus.$emit('dataLoaded')
          // this.items = response.items;
        }.bind(this));
      },
      getMeta(meta) {
        return metas[meta]
      }
    },
    mounted: function () {
      this.loadData()

    }
}
</script>
<style lang="sass">
#blog
  display: flex
  flex-direction: column
  justify-content: space-between
  min-height: 100vh
@font-face 
  font-family: 'pn'
  src: url('../../fonts/ProximaNova-Regular.otf')
@font-face 
  font-family: 'pn-sb'
  src: url('../../fonts/ProximaNova-Semibold.otf')
body
  font-family: 'pn'
</style>
