<template>
	<div id="blog">
    <div v-if="post != null" :style="'background-image:url(\'/' + post.image + '\');'" id="header">
      <div class="social-links">
        <a target="_blank" href="https://www.instagram.com/hangar.uno/"><icon name="instagram"></icon></a>
        <a target="_blank" href="https://www.facebook.com/hangarunosa/"><icon name="facebook"></icon></a>
      </div>
      <div class="logo"><img src="../../img/logos_home/logo.png"></div>
      <page-title v-if="post" class="title" :subrayado="false" :text="post.title"></page-title>
      <blur :top="false"></blur>
    </div>
    <div class="post-content">
      <div class="container">
        <div v-if="post" v-html="post.content" class="row">
          
        </div>
      </div>
    </div>
		<b-footer></b-footer>
	</div>	
</template>
<script>
import { EventBus } from '../event-bus.js';
export default {
	components: {
    'page-title': require('../components/PageTitle.vue'),
    'blur': require('../components/Blur.vue'),
		'b-header': require('./Header.vue'),
		'b-footer': require('./Footer.vue'),
	},
	data(){
		return {
	      metas: [],
        post: null
	    }
	},
  props: ['jpost'],
  methods: {
  },
  mounted: function () {
    this.post = JSON.parse(this.jpost)
  }
}
</script>
<style lang="sass">
@font-face 
  font-family: 'pn'
  src: url('../../fonts/ProximaNova-Regular.otf')
@font-face 
  font-family: 'pn-sb'
  src: url('../../fonts/ProximaNova-Semibold.otf')
#header
  height: 40vh
  background-position: center
  background-size: cover
  background-repeat: no-repeat
  display: flex
  align-items: center
  justify-content: flex-start
  padding-top: 5vh
  flex-direction: column
  position: relative
  .logo
    img
      height: 10vh
      min-height: 50px
  .title
    color: white
  .social-links
    display: flex
    flex-direction: row-reverse
    position: absolute
    top: 15px
    right: 15px
    a
      color: white
      margin-left: 20px
      svg
        height: 17px
        width: auto
.post-content
  flex: 1
  padding: 20px 0
.post-content p
  font-family: 'pn'
#blog
  display: flex
  flex-direction: column
  justify-content: space-between
  min-height: 100vh
body
  font-family: 'pn'
</style>
