<template>
	<div id="posts">
		<div class="container">
			<div v-masonry transition-duration="0.3s" item-selector=".masonry-item">
				<post-box :language="language" v-masonry-tile v-for="post in posts" class="masonry-item" :post="post" :key="post.id"></post-box>
	    		</div>
			</div>
		</div>
	</div>
</template>

<script>

import { EventBus } from '../event-bus.js';

export default {
	props: {
		language: {
			required: false,
			default: 'spanish'
		}
	},
	data() {
		return {
			posts: null,
		}
	},
	components: {
		'page-title': require('../components/PageTitle.vue'),
		'post-box': require('../components/PostBox.vue'),
	},
	mounted() {
		this.loadData()
	},
	methods: {
		loadData: function () {
	        $.get('api/getPosts', function (response) {
	          this.posts = response
	        }.bind(this));
	    }
	},
}
</script>
<style lang="sass" scoped>
#posts
	flex: 1
</style>