<template>
	<div class="blur">
		<div v-if="top" class="blur-edge blur-top"></div>
		<div v-if="bottom" class="blur-edge blur-bottom"></div>
	</div>
</template>
<script>
export default {
	props: {
		'top': {
			required: false,
			default: true
		},
		'bottom': {
			required: false,
			default: true
		},
		color: {
			required: false,
			default: "255,255,255"
		}
	}
}
</script>
<style lang="sass">
.blur-edge
	position: absolute
	height: 40%
	width: 100%
	z-index: 100
	left: 0
.blur-top
	-webkit-transform: translate3d(0,0,0)
	-ms-transform: translate3d(0,0,0)
	transform: translate3d(0,0,0)
	background: linear-gradient(0deg, rgba(255,255,255,0), rgba(255,255,255,0.5), rgba(255,255,255,1))
	top: 0
.blur-bottom
	background: linear-gradient(180deg, rgba(255,255,255,0), rgba(255,255,255,0.5), rgba(255,255,255,1))
	bottom: 0
	-webkit-transform: translate3d(0,0,0)
	-ms-transform: translate3d(0,0,0)
	transform: translate3d(0,0,0)
</style>