<template>
	<div @click="goTo(1)" id="go-top"><icon name="home"></icon></div>
</template>

<script>
export default {

  data () {
    return {

    }
  },
  mounted() {
  
  },
  methods: {
  	goTo(n) {
			$.fn.fullpage.moveTo(n)
			console.log('going to ', n)
		},
  }
}
</script>

<style lang="sass" scoped>
@import './../../sass/_h1.scss'

#go-top
	position: absolute
	bottom: 0
	RIGHT: 5%
	background-color: #666
	opacity: 0.5
	z-index: 10000
	padding: 15px
	color: white
	display: flex
	align-items: center
	justify-content: center
	cursor: pointer
	-webkit-transform: translate3d(0,0,0)
	-ms-transform: translate3d(0,0,0)
	transform: translate3d(0,0,0)
	@media #{$mobile}
		padding: 5px
</style>