<template>
	<div id="home-widgets">
		<div class="h1logo"></div>
		<div class="menu-widget"></div>
		<div class="left-widget"></div>		
		<div class="right-widget"></div>
		<div class="links"></div>
	</div>
</template>
<script>
export default {
	mounted() {
	}
}
</script>
<style lang="sass" scoped>
