<template>
	<div class="modelos-slider">
		<div class="desc-mobile">
			<div class="mobile-modelo-content" v-for="(modelo, i) in modelos" v-if="i == activeModelo">
				<div class="mobile-marca-description" v-html="language=='spanish'?marca.description:marca.english_description"></div>
				<div class="mobile-modelo-description">
					<div class="mobile-modelo-name" :class="'controls-container'"><img @click="prevSlide" v-if="showArrows" class="modelo-arrow" src="../../img/angle-left.svg">{{modelo.name}}<img @click="nextSlide" v-if="showArrows" class="modelo-arrow" src="../../img/angle-right.svg"></div>
					<a target="_blank" :href="modelo.pdf">+ info</a>
				</div>
			</div>
		</div>
		<div class="normal-slider" :class="'normal-slider-' + _uid">
			<blur v-if="blur"></blur>
			<section class="hero">
				<div class="flexslider fullscreen-carousel hero-slider-1 parallax parallax-section1">
					<ul class="slides">
						<li v-for="modelo in modelos" style="background-color: #FFFFFF">
							<div class="overlay-hero overlay-light">
								<div class="caption-hero dark-color">
									<div class="inner-caption" :style="'background-image:url(\'' + modelo.image + '\');'"></div>
										<div class="modelo-content">
											<div class="marca-description" v-html="language=='spanish'?marca.description:marca.english_description"></div>
											<div class="modelo-description">
												<div class="modelo-name" :class="'controls-container'"><img @click="prevSlide" v-if="showArrows" class="modelo-arrow" src="../../img/arrow-white-left.png">{{modelo.name}}<img @click="nextSlide" v-if="showArrows" class="modelo-arrow" src="../../img/arrow-white-right.png"></div>
												<a target="_blank" :href="modelo.pdf">+ info</a>
											</div>
										</div>
								</div>
							</div>
						</li>
					</ul>

				</div>
				<!-- End Hero Slider Section -->
			</section>
			<div v-if="cover" class="slider-cover">
				<div class="slide-cover-left"></div>
				<div class="slide-cover-right"></div>
			</div>
		</div>
	</div>
</template>

<script>
import { EventBus } from '../event-bus.js'
export default {
	props: {
		language: {
			required: false,
			default: 'spanish'
		},
		marca: {
			required: true
		},
		cover: {
			required: false,
			default: false
		},
		modelos: {
			required: false,
			default: null
		},
		blur: {
			required: false,
			default: false
		}
	},
	data() {
		return {
			slider: null,
			activeModelo: 0
		}
	},
	components: {
		'blur': require('../components/Blur.vue'),
	},
	mounted() {

		this.initSlider()
	},
	methods: {
		nextSlide() {
			$('.normal-slider-' + this._uid + ' .flex-next').trigger('click');
		},
		prevSlide() {
			$('.normal-slider-' + this._uid + ' .flex-prev').trigger('click');
		},
		initSlider() {
			var component = this
			$('.normal-slider-' + this._uid + ' .hero-slider-1').flexslider({
				animation: "slide",
				animationSpeed: 700,
				animationLoop: this.modelos.length > 1,
				slideshow: false,
				pauseOnHover: false,
				easing: "swing",
				controlNav: false,
				directionNav: true,
				customDirectionNav: $(".controls-container a img"),
				before: function (slider) {
					component.activeModelo = slider.animatingTo
				},
				after: function (slider) {
				},
				start: function (slider) {
				},
				useCSS: false,
			})
			this.slider = $('.normal-slider-' + this._uid + ' .flexslider' ).data('flexslider')
		}
	},
	computed: {
		showArrows() {
			return this.modelos.length > 1
		}
	}
}
</script>
<style lang="sass" scoped>
@import './../../sass/_h1.scss'
.normal-slider
	position: relative
	display: block
	height: 100%
.modelos-slider, .hero, .flexslider, .flex-viewport, .slides, .slide, .clone, .overlay-hero, .caption-hero, .inner-caption, .flex-active-slide, li
	height: 100%
.modelos-slider
	display: flex
	flex-direction: column
.hero-slider-1.fullscreen-carousel .inner-caption
	padding-left: 0
	padding-right: 0
	padding-top: 0
	width: 100%
	margin: auto
	vertical-align: middle
	background-position: center
	background-size: cover
	background-repeat: no-repeat
.slider-cover
	position: absolute
	height: 4vh
	width: 100%
	bottom: 0
	-webkit-transform: translate3d(0,0,0)
	-ms-transform: translate3d(0,0,0)
	transform: translate3d(0,0,0)
.slide-cover-left
	border-top-left-radius: 100%
	height: 100%
	position: absolute
	width: 50%
	left: 0
	background: white
	-webkit-transform: translate3d(0,0,0)
	-ms-transform: translate3d(0,0,0)
	transform: translate3d(0,0,0)
.slide-cover-right
	border-top-right-radius: 100%
	height: 100%
	position: absolute
	width: 50%
	right: 0
	background: white
	-webkit-transform: translate3d(0,0,0)
	-ms-transform: translate3d(0,0,0)
	transform: translate3d(0,0,0)
.modelo-content
	position: absolute
	top: 7%
	height: 50%
	width: 100%
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	color: white
	font-family: pn-sb
	font-size: 20px
	text-align: center
	-webkit-transform: translate3d(0,0,0)
	-ms-transform: translate3d(0,0,0)
	transform: translate3d(0,0,0)
	@media #{$mobile}
		display: none
.modelo-description
	width: 100%
	display: flex
	flex-direction: row
	align-items: center
	justify-content: center
	font-family: pn-sb
	font-size: 20px
	text-shadow: 1px 1px black
	// background: #333
	// background: rgba(0,0,0,0.18)
	padding-bottom: 4px
	-webkit-transform: translate3d(0,0,0)
	-ms-transform: translate3d(0,0,0)
	transform: translate3d(0,0,0)
	@media #{$mobile}
		font-size: 12px
.modelo-name
	margin-right: 2%
	-webkit-transform: translate3d(0,0,0)
	-ms-transform: translate3d(0,0,0)
	transform: translate3d(0,0,0)
.modelo-description a
	color: white
	-webkit-transform: translate3d(0,0,0)
	-ms-transform: translate3d(0,0,0)
	transform: translate3d(0,0,0)
.marca-description
	text-shadow: 1px 1px black
	// background: #333
	// background: rgba(0,0,0,0.18)
	width: 100%
	-webkit-transform: translate3d(0,0,0)
	-ms-transform: translate3d(0,0,0)
	transform: translate3d(0,0,0)
	padding-top: 4px
	font-family: 'pn-sb'
	padding-left:  25%
	padding-right: 25%
	@media #{$mobile}
		padding-left:  5%
		padding-right: 5%
.flexslider .slides img.modelo-arrow
	height: 40px
	width: auto
	display: inline-block
	cursor: pointer

@media #{$mobile}
	.slider-cover
		display: none
	.desc-mobile
		display: flex
		position: relative
		padding: 0 5px
		flex-grow: 1
		justify-content: center
		align-items: center
		text-align: center
	img.modelo-arrow
		height: 20px
		width: auto
		display: inline-block
		cursor: pointer
		transform: translateY(-2px)
		color: white
	.normal-slider
		height: 180px
		margin-bottom: 20px
	.mobile-modelo-description
		display: flex
		text-align: center
		justify-content: center
		flex-direction: column
	.mobile-modelo-name
		font-size: 18px
		font-family: 'pn-sb'
		margin-bottom: 5px
	.mobile-modelo-description a
		color: black
		-webkit-transform: translate3d(0,0,0)
		-ms-transform: translate3d(0,0,0)
		transform: translate3d(0,0,0)
@media #{$desktop}
	.desc-mobile
		display: none
</style> 
<style lang="sass">
.flex-control-nav
	position: absolute
	top: 20px
	right: 30px
	bottom: initial
	display: inline-block
	width: auto

</style>