<template>
	<div class="normal-slider" :class="'normal-slider-' + _uid">
		<blur v-if="blur"></blur>
		<section class="hero">
			<div class="flexslider fullscreen-carousel hero-slider-1 parallax parallax-section1">
				<ul class="slides">
					<li v-for="slide in slides" style="background-color: #FFFFFF">
						<div class="overlay-hero overlay-light">
							<div class="caption-hero dark-color">
								<div class="inner-caption" :style="'background-image:url(\'' + slide.image + '\');'"></div>
							</div>
						</div>
					</li>
				</ul>

			</div>
			<!-- End Hero Slider Section -->
		</section>
		<div v-if="cover" class="slider-cover">
			<div class="slide-cover-left"></div>
			<div class="slide-cover-right"></div>
		</div>
	</div>
</template>


<script>
export default {
	props: {
		cover: {
			required: false,
			default: false
		},
		slides: {
			required: false,
			default: null
		},
		blur: {
			required: false,
			default: false
		}
	},
	components: {
		'blur': require('../components/Blur.vue'),
	},
	mounted() {
		$('.normal-slider-' + this._uid + ' .hero-slider-1').flexslider({
			animation: "slide",
			animationSpeed: 700,
			animationLoop: this.slides.length > 1,
			slideshow: true,
			pauseOnHover: false,
			easing: "swing",
			controlNav: false,
			directionNav: true,
			before: function (slider) {
			},
			after: function (slider) {
			},
			start: function (slider) {
			},
			useCSS: false,
		})
	}
}
</script>
<style lang="sass" scoped>
@import './../../sass/_h1.scss'

.normal-slider
	height: 300px
	position: relative
	@media #{$mobile}
		height: 180px
	@media #{$tablet}
		height: 340px
.hero, .flexslider, .flex-viewport, .slides, .slide, .clone, .overlay-hero, .caption-hero, .inner-caption, .flexslider div, .flex-active-slide, li
	height: 100%
.hero-slider-1.fullscreen-carousel .inner-caption
	padding-left: 0
	padding-right: 0
	padding-top: 0
	width: 100%
	margin: auto
	vertical-align: middle
	background-position: center
	background-size: cover
	background-repeat: no-repeat
.slider-cover
	position: absolute
	height: 2vh
	width: 100%
	bottom: -1px
	-webkit-transform: translate3d(0,0,0)
	-ms-transform: translate3d(0,0,0)
	transform: translate3d(0,0,0)
.slide-cover-left
	border-top-left-radius: 100%
	height: 100%
	position: absolute
	width: 50%
	left: 0
	background: white
	-webkit-transform: translate3d(0,0,0)
	-ms-transform: translate3d(0,0,0)
	transform: translate3d(0,0,0)
.slide-cover-right
	border-top-right-radius: 100%
	height: 100%
	position: absolute
	width: 50%
	right: 0
	background: white
	-webkit-transform: translate3d(0,0,0)
	-ms-transform: translate3d(0,0,0)
	transform: translate3d(0,0,0)
</style>
<style lang="sass">
.flex-control-nav
	position: absolute
	top: 20px
	right: 30px
	bottom: initial
	display: inline-block
	width: auto
</style>

<style lang="sass">
	@import './../../sass/_h1.scss'
	#mantenimiento .normal-slider, #trabajo-aereo .normal-slider
		@media #{$mobile}
			height: 250px!important
</style>