<template>
	<div class="page-title container-fluid">
		<div class="title" :style="{'margin-bottom': marginBot}">
			<div class="title-text">
				<img class="alas-before" src="../../img/alas_izq.png">
				{{text}}
				<img class="alas-after" src="../../img/alas_der.png">
			</div>
			<div v-if="subrayado" class="title-subrayado"></div>
		</div>
		<div v-if="subrayado" class="title-separator"></div>


	</div>
</template>
<script>
export default{
	props: {
		text: {
			type: String,
			required: true
		},
		separation: {
			required: false,
			default: false,
			type: Boolean
		},
		subrayado: {
			required: false,
			default: true
		}
	},
	computed: {
		marginBot() {
			if (this.separation) {
				return '2vh'
			} else {
				return '2px'
			}
		}
	}
}
</script>
<style lang="sass" scoped>
@import './../../sass/_h1.scss'


.page-title
	width: 100%
	z-index: 100
.title-text
	font-family: 'pn-sb'
	font-size: 30px
	letter-spacing: 7px	
	text-align: center
	@media #{$mobile}
		font-size: 15px
.title
	display: flex
	align-items: center
	justify-content: center
	position: relative
	margin-bottom: 2vh
.title-subrayado
	width: 100%
	display: block
	position: absolute
	height: 1px
	top: 100%
	width: 90px
	left: 50%
	transform: translateX(-50%)
	border-top: 2px solid black
.title-text
	position: relative
	display: inline-block
.alas-before
	position: absolute
	right: 105%
	top: 50%
	transform: translateY(-50%)
	@media #{$mobile}
		display: none
.alas-after
	position: absolute
	left: 105%
	top: 50%
	transform: translateY(-50%)
	@media #{$mobile}
		display: none
.title-separator
	border-bottom: 1px solid rgba(128, 128, 128, 0.58)
	margin-bottom: 5px
</style> 