<template>
	<div class="post-box">
		<div class="post-box-img-container" :style="'background-image:url(\'' + post.image + '\');'">
		</div>
		<div class="post-box-title" v-html="language=='spanish'?post.title:post.english_title"></div>
		<div class="post-box-lede" v-html="language=='spanish'?post.lede:post.english_lede"></div>
		<a :href="'/blog/'+post.id" class="readmore">{{language=='spanish'?'LEER MAS':'READ MORE'}}</a>
	</div>
</template>
<script>
export default {
	props: {
		'post': {
			required: true
		},
		language: {
			required: false,
			default: 'spanish'
		}
	}
}
</script>
<style lang="sass" scoped>
.post-box
	width: 31%
	display: flex
	flex-direction: column
	border-bottom: 1px solid #aaa
	margin: 50px 1% 0
	@media screen and (max-width: 1200px)
		width: 100%
.post-box-img-container
	width: 100%
	max-height: 10vh
	display:flex
	justify-content: center
	align-items: center
	background-position: center
	background-size: cover
	background-repeat: no-repeat
	height: 15vh
	min-height: 200px
	max-height: 400px
.post-box-title
	font-size: 20px
	font-family: 'pn-sb'
	margin: 5px 0
.post-box-lede
	font-size: 14px
	font-family: 'pn'
	word-wrap: break-word
.readmore
	oultline: none
	text-decoration: none
	color: black
	align-self: center
	font-family: 'pn-sb'
	letter-spacing: 3px
	padding-bottom: 3px
	border-bottom: 3px solid #333
</style>
