<template>
	<div class="container two-columned">
		<slot></slot>
	</div>	
</template>
<script>
</script>
<style lang="sass" scoped>
	@import './../../sass/_h1.scss'
	.two-columned
		display: flex
		justify-content: center
		align-items: center
		flex: 1
		text-align: justify
		padding: 15px 5px

		@media #{$desktop}
			-webkit-column-count: 2
			-moz-column-count: 2
			column-count: 2
			div
				-webkit-column-count: 2
				-moz-column-count: 2
				column-count: 2
			p
				margin-bottom: 4px
		@media #{$mobile}
			font-size: 12px
			padding: 0 5px
			
</style>
<style lang="sass">
	@import './../../sass/_h1.scss'
	#fbo .two-columned
		@media #{$mobile}
			font-size: 10px!important
</style>