<template>
	<div class="vh-separator" :style="{'min-height': size}"></div>
</template>
<script>
	export default {
		props: {
			size: {
				required: false,
				default: "5vh",
				type: String
			}
		}
	}
</script>

<style lang="sass" scoped>
	@import './../../sass/_h1.scss'
	.vh-separator
		@media #{$mobile}
			min-height: 5px!important
</style>