<template>
	<div id="about" class="info-section">
		<page-title :separation="false" :text="language=='spanish'?'SOBRE HANGAR UNO': 'ABOUT US'"></page-title>
		<two-columns-text>
			<div v-html="text"></div>
		</two-columns-text>
		<normal-slider v-if="slider" :blur="true" :slides="slider" :cover="false"></normal-slider>
		<go-top></go-top>
	</div>
</template>


<script>

	import { EventBus } from '../event-bus.js';

	export default {
		data() {
			return {
				text: null,
				slider: null,
				language: '',
			}
		},
		components: {
			'vh-separator': require('../components/VhSeparator.vue'),
			'page-title': require('../components/PageTitle.vue'),
			'two-columns-text': require('../components/TwoColumnsText.vue'),
			'normal-slider': require('../components/NormalSlider.vue'),
			'go-top': require('../components/GoToTopAnchor.vue'),
		},
		mounted() {
			EventBus.$on('dataLoaded', this.loadComponentData)
		},
		methods: {
			loadComponentData() {
				let metas = this.$parent.metas
				this.language = this.$parent.lang
				if (this.language == "spanish") {
					this.text = metas.about_text
				} else {
					this.text = metas.about_text_english
				}
				this.slider = JSON.parse(metas.about_slider)
			}
		}
	}
</script>
<style lang="sass">
	@import './../../sass/_h1.scss'

	@font-face 
		font-family: 'pn'
		src: url('../../fonts/ProximaNova-Regular.otf')
	@font-face 
		font-family: 'pn-sb'
		src: url('../../fonts/ProximaNova-Semibold.otf')
	body
		font-family: 'pn'
	.info-section
		padding-top: 5vh
		@media #{$mobile}
			padding-top: 1vh
	.flex-direction-nav
		display: none
	.info-section
		display: flex
		flex-direction: column
	.section
		overflow: hidden	
</style>