<template>
	<div id="aeronaves" class="info-section">
		<page-title :text="language=='spanish'?'AERONAVES': 'AIRCRAFT'"></page-title>
		<div class="container marcas-anchors">
			<div class="marca-anchor" v-for="marca in marcas">
				<img v-if="marca.name == selectedMarca" :src="marca.image_active">
				<img @click="selectedMarca = marca.name" v-if="marca.name != selectedMarca" :src="marca.image">
			</div>
		</div>
		<modelos-slider :cover="true" :language="language" :marca="marca" :scope="marca.name" :modelos="marca.modelos" v-for="marca in marcas" v-if="marca.name == selectedMarca && language" :key="marca.name">
		</modelos-slider>
		<go-top></go-top>
	</div>
</template>

<script>

import { EventBus } from '../event-bus.js'

export default {
	data() {
		return {
			text: null,
			slider: null,
			marcas: null,
			selectedMarca: null,
			language: '',
			lang: ''
		}
	},
	components: {
		'vh-separator': require('../components/VhSeparator.vue'),
		'page-title': require('../components/PageTitle.vue'),
		'two-columns-text': require('../components/TwoColumnsText.vue'),
		'modelos-slider': require('../components/ModelosSlider.vue'),
		'go-top': require('../components/GoToTopAnchor.vue'),
	},
	mounted() {
		this.loadData()
		EventBus.$on('dataLoaded', this.loadComponentData)
		EventBus.$on('selectMarca', (marca) => {
			this.selectedMarca = marca.name
			// console.log(marca)
			// _.forEach(this.marcas, (v,i) => {
			// 	if (marca.name == v.name) {
			// 		this.selectedMarca = this.marcas[i]
			// 	}
			// })
		})
	},
	methods: {
		loadComponentData() {
			this.language = this.$parent.lang
		},
		loadData: function () {
	        $.get('api/getMarcas', function (response) {
	          this.marcas = response
	          this.selectedMarca = response[0].name
	        }.bind(this));
	    }
	},
}
</script>
<style lang="sass" scoped>
#aeronaves 
	display: flex
.marcas-anchors
	display: flex
	flex-direction: row
	align-items: center
	justify-content: center
	max-height: 120px
.marca-anchor
	height: 100%
	display: flex
	align-items: center
	justify-content: center
	cursor: pointer
	max-height: 120px
	margin-right: 20px
	position: relative
	img
		height: auto
		width: auto
		max-height: 120px
		max-width: 85%
.marca-anchor:last-child
	margin-right: 0
.marca-anchor:not(:last-child):after
	content: ""
	position: absolute
	right: -10px
	height: 70%
	top: 15%
	width: 1px
	border-right: 1px solid #d8d8d8
.fade-enter-active, .fade-leave-active
	transition: opacity .5s
.fade-enter, .fade-leave-to
	opacity: 0
</style>