<template>
	<div id="blog" :style="blogFondo">
		<div class="blog-text" v-html="text"></div>		
		<div class="blog-link-container">
			<a href="/blog" class="blog-link">NOTICIAS</a>
		</div>
		<go-top></go-top>
	</div>	
</template>

<script>
import { EventBus } from '../event-bus.js';

export default {
	data() {
		return {
			text: null,
			fondo: null
		}
	},
	components: {
		'go-top': require('../components/GoToTopAnchor.vue'),
	},
	mounted() {
		EventBus.$on('dataLoaded', this.loadComponentData)
	},
	methods: {
		loadComponentData() {
			let metas = this.$parent.metas
			this.language = this.$parent.lang
			if (this.language == "spanish") {
				this.text = metas.blog_fullpage_link
			} else {
				this.text = metas.blog_fullpage_link_english
			}
			this.fondo = metas.blog_link_fondo
		}
	},
	computed: {
		blogFondo() {
			if (this.fondo) {
				return 'background-image:url(\'' + this.fondo + '\');'
			}
		}
	}
}
</script>
<style lang="sass" scoped>
@import './../../sass/_h1.scss'
#blog
	background-position: center
	background-size: cover
	background-repeat: no-repeat
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
.blog-text
	text-shadow: 0 1px black
	background: #333
	background: rgba(0,0,0,0.18)
	color: white
	font-size: 25px
	@media #{$mobile}
		font-size: 12px
.blog-link-container
	display: flex
	align-items: center
	justify-content: center
	.blog-link
		margin-top: 25px
		padding: 5px 15px
		border: 2px solid white
		color: white
		font-family: 'pn-sb'
		font-size: 30px
		text-decoration: none
		outline: none
		@media #{$mobile}
			font-size: 20px
			margin-top: 15px
			padding: 5px 10px
</style>