<template>
	<div id="contacto" class="info-section">
		<div v-if="showMessage" class="notif-sent">{{meta[language].sent}}</div>
		<page-title :text="language=='spanish'?'CONTACTO': 'CONTACT'"></page-title>
		<div class="contact-content container">
			<div v-html="addresses" id="contact-info" class="">
			
			</div>
			<div id="contact-location">
				<gmap-map
				  :center="{lat:-34.4574275, lng:-58.5868424}"
				  :zoom="14"
				  style="width: 100%; height: 30vh"
				>
					<gmap-marker
						:position="{lat:-34.4574275, lng:-58.5868424}"
						:clickable="true"
						:draggable="true"
					></gmap-marker>

				</gmap-map>
				<div :class="{open: showForm}" class="form">
					<div v-if="showForm" class="logo"><img src="../../img/logos_home/logo.png"></div>
					<div @click="showForm = false" class="close" ><icon class="close-icon" name="close"></icon></div>
					<div class="inner-form">
						<div class="form-title">{{meta[language].title}}</div>
						<div class="form-group">
							<div class="form-label">{{meta[language].name}}</div>
							<input v-model="name" type="text" >
						</div>
						<div class="form-group">
							<div class="form-label">{{meta[language].mail}}</div>
							<input v-model="mail" type="text">
						</div>
						<div class="form-group">
							<div class="form-label">{{meta[language].content}}</div>
							<textarea v-model="consulta" type="text" ></textarea>
						</div>
						<div @click="sendForm" class="send-btn">
							{{meta[language].send}}
						</div>
					</div>
					<a href="http://www.nuevenoventadigital.com" target="_blank" class="designed-mobile">Diseñado por NUEVENOVENTA</a>
				</div>
				<div @click="openForm" class="open-form send-btn">
					{{meta[language].contact}}					
				</div>
				<a href="http://www.nuevenoventadigital.com" target="_blank" class="designed-web">Diseñado por NUEVENOVENTA</a>
			</div>
		</div>
		<go-top></go-top>
	</div>
</template>

<script>

	import { EventBus } from '../event-bus.js';
	export default {
		components: {
			'page-title': require('../components/PageTitle.vue'),
			'vh-separator': require('../components/VhSeparator.vue'),
			'go-top': require('../components/GoToTopAnchor.vue'),
		},
		data() {
			return {
				addresses: null,
				name: '',
				mail: '',
				consulta: '',
				showMessage: false,
				language: 'spanish',
				showForm: false,
				meta: {
					spanish: {
						title: 'ENVIANOS TU CONSULTA:',
						name: 'NOMBRE Y APELIDO',
						mail: 'MAIL',
						content: 'CONSULTA',
						send: 'Enviar',
						sent: 'Mensaje enviado',
						contact: 'CONTACTANOS',
					},
					english: {
						title: 'SEND US YOUR QUESTION:',
						name: 'FULL NAME',
						mail: 'MAIL',
						content: 'QUESTION',
						send: 'Send',
						sent: 'Message sent',
						contact: 'CONTACT US'
					}
				}
			}
		},
		mounted() {
			EventBus.$on('dataLoaded', this.loadComponentData)
		},
		methods: {
			loadComponentData() {
				let metas = this.$parent.metas
				this.language = this.$parent.lang
				if (this.language == 'spanish') {
					this.addresses = metas.contact_addresses
				} else {
					this.addresses = metas.contact_addresses_english
				}
			},
			sendForm() {
				axios.post('api/sendMail', {
					name: this.name,
					email: this.mail,
					message: this.consulta
				}).then(() => {
					this.showMessage = true
					this.showForm = false
					setTimeout(() => {
						this.showMessage = false
					}, 2000);
				}).catch(()=> {
					this.showMessage = true
					this.showForm = false
					setTimeout(() => {
						this.showMessage = false
					}, 2000);
				})
			},
			openForm() {
				this.showForm = true
			}
		}
	}
</script>
<style lang="sass" scoped>
@import './../../sass/_h1.scss'
#contacto
	position: relative
.contact-content
	display: flex
	width: 100%
	flex-grow: 1
	padding-bottom: 10px
	justify-content: space-between
	@media #{$mobile}
		flex-direction: column
.form-title
	font-family: 'pn-sb'
	margin-bottom: 30px
	margin-top: 40px
.form-group
	margin-bottom: 10px
input, textarea
	width: 100%
textarea
	min-height: 100px
.send-btn
	background-color: green
	padding: 5px 15px
	color: white
	font-family: 'pn-sb'
	font-size: 20px
	display: inline-block
	cursor: pointer
	@media #{$mobile}
		background-color: #333

.notif-sent
	background-color: green
	padding: 5px 15px
	color: white
	font-family: 'pn-sb'
	font-size: 20px
	display: inline-block
	position: absolute
	top: 40px
	right: 20px
	z-index: 10000
	cursor: pointer
#contact-location
	flex-grow: 1

	max-width: 45%
	display: flex
	flex-direction: column
	justify-content: space-around
	@media #{$mobile}
		max-width: none
.open-form
	margin-top: 5px
	@media #{$desktop}
		display: none
.logo
	@media #{$desktop}
		display: none
	position: absolute
	top: 20px
	left: 20px
	img
		height: 50px
.form
	@media #{$desktop}
		flex-grow: 1
	@media #{$mobile}
		position: absolute
		top: 0
		background-color: #666
		left: 0
		width: 100%
		display: flex
		flex-direction: column
		justify-content: center
		padding: 0
		z-index: 10000000000
		transform: translate3d(0,0,0)
		height: 0%
		transition: height 1s
		overflow: hidden
		.inner-form
			padding: 19px
			position: relative
.form.open
	@media #{$mobile}
		height: 100%
.close
	display: none
	@media #{$mobile}
		display: block
		position: absolute
		top: 19px
		right: 19px
		color: black
#contact-info
	display: flex
	justify-content: center
	flex-direction: column
	font-size: 14px
	@media #{$mobile}
		font-size: 11px
.designed-web
	position: absolute
	bottom: 0
	left: 10px
	color: #666
	@media #{$mobile}
		display: none
.designed-mobile
	position: absolute
	bottom: 5px
	left: 5px
	color: #333
	@media #{$desktop}
		display: none

</style>
<style lang="sass">
	#contact-info
		p
			margin-bottom: 5px
</style>