<template>
	<div id="entrenamiento" class="info-section">
		<page-title :text="this.language=='spanish'?'ENTRENAMIENTO': 'TRAINING'"></page-title>
		<normal-slider v-if="slider" :slides="slider" :cover="true"></normal-slider>
		<two-columns-text>
			<div v-html="text"></div>
		</two-columns-text>
		<div class="info-pdf"><a target="_blank" :href="pdf">+ info</a></div>
		<go-top></go-top>
	</div>
</template>

<script>

import { EventBus } from '../event-bus.js';

export default {
	data() {
		return {
			text: null,
			slider: null,
			pdf: null,
			language: ''
		}
	},
	components: {
		'vh-separator': require('../components/VhSeparator.vue'),
		'page-title': require('../components/PageTitle.vue'),
		'two-columns-text': require('../components/TwoColumnsText.vue'),
		'normal-slider': require('../components/NormalSlider.vue'),
		'go-top': require('../components/GoToTopAnchor.vue'),
	},
	mounted() {
		EventBus.$on('dataLoaded', this.loadComponentData)
	},
	methods: {
		loadComponentData() {
			let metas = this.$parent.metas
			this.language = this.$parent.lang
			if (this.language == "spanish") {
				this.text = metas.entrenamiento_text
				this.pdf = metas.entrenamientoPdf
			} else {
				this.text = metas.entrenamiento_text_english
				this.pdf = metas.entrenamientoPdf_english
			}
			this.slider = JSON.parse(metas.entrenamiento_slider)
		}
	}
}
</script>
<style lang="sass" scoped>
.info-pdf
	display: flex
	align-items: center
	justify-content: center
	a
		color: #666
		font-size: 20px
		padding: 30px
		outline: none
		text-decoration: none
</style>