<template>
	<div id="fbo" class="info-section">
		<page-title text="FBO"></page-title>
		<normal-slider v-if="slider" :slides="slider" :cover="true"></normal-slider>
		<two-columns-text>
			<div v-html="text"></div>
		</two-columns-text>
		<go-top></go-top>
	</div>
</template>

<script>
import { EventBus } from '../event-bus.js';

export default {
	data() {
		return {
			text: null,
			slider: null
		}
	},
	components: {
		'vh-separator': require('../components/VhSeparator.vue'),
		'page-title': require('../components/PageTitle.vue'),
		'two-columns-text': require('../components/TwoColumnsText.vue'),
		'normal-slider': require('../components/NormalSlider.vue'),
		'go-top': require('../components/GoToTopAnchor.vue'),
	},
	mounted() {
		EventBus.$on('dataLoaded', this.loadComponentData)
	},
	methods: {
		loadComponentData() {
			let metas = this.$parent.metas
			this.language = this.$parent.lang
			if (this.language == "spanish") {
				this.text = metas.fbo_text
			} else {
				this.text = metas.fbo_text_english
			}
			this.slider = JSON.parse(metas.fbo_slider)
		}
	}
}
</script>
<style lang="sass" scoped>

</style>