<template>
	<div id="home-slider">
		<transition name="slide-up">
			<div v-if="navToggle" class="nav-mobile">
				<div class="navicon-wrapper nav-toggle" @click="navToggle = !navToggle">
						<icon v-if="!navToggle" name="navicon"></icon>
						<icon v-if="navToggle" name="close"></icon>
					</div>
				<a href="#" v-if="navToggle" v-for="btn in menu" @click="goTo(btn.page)" :key="btn.label">{{language=="spanish"?btn.label: btn.english_label}}</a>
			</div>
		</transition>
		<section class="hero">
			<div class="slider-blur"></div>
			<div class="flexslider fullscreen-carousel hero-slider-1 parallax parallax-section1">
				<ul class="slides">
					<li v-for="slide in slider" style="background-color: #FFFFFF">
						<!-- Normal Slide -->
						<div v-if="!isYoutube(slide)" class="overlay-hero overlay-light">
							<div class="caption-hero dark-color">
								<div class="inner-caption" :style="'background-image:url(\'' + slide.image + '\');'"></div>
							</div>
						</div>
						<!-- Youtube Slide -->
						<div v-if="isYoutube(slide)" class="youtube-container">
                            <iframe :src="'https://www.youtube.com/embed/' + slide.image + '?controls=0&showinfo=0&enablejsapi=1&loop=1&playlist=' + slide.image" frameborder="0" allowfullscreen></iframe>
                        </div>
					</li>
				</ul>
			</div>
			<!-- End Hero Slider Section -->
		</section>
		<div class="slider-cover">
			<div class="slide-cover-left"></div>
			<div class="slide-cover-right"></div>
		</div>
		<div class="homeslider-widgets">
			<div class="top-widgets">
				<div class="logo"><img src="../../img/logos_home/logo.png"></div>
				<div class="menu">
					<a v-for="btn in menu" @click="goTo(btn.page)" href="#">{{language=="spanish"?btn.label: btn.english_label}}</a>
				</div>
				<div class="languages">
					<a href="/setLanguage/spanish" class="lang">Español</a>
					<a href="/setLanguage/english" class="lang">English</a>
					<div class="navicon-wrapper nav-toggle" @click="navToggle = !navToggle">
						<icon v-if="!navToggle" name="navicon"></icon>
						<icon v-if="navToggle" name="close"></icon>
					</div>
				</div>
			</div>
			<div class="right-widgets">
				<div class="social-links">
					<a target="_blank" href="https://www.instagram.com/hangar.uno/"><icon name="instagram"></icon></a>
					<a target="_blank" href="https://www.facebook.com/hangarunosa/"><icon name="facebook"></icon></a>
				</div>
				<!-- <div class="brand">H1</div> -->
			</div>
			<div class="left-widgets">
				<div class="vertical-text">{{verticalText}}</div>
				<div class="clearfix"></div>
				<div class="homeslider-marcas">
					<a v-for="marca in marcas" @click="goToMarca(marca)" class="homeslider-marca" ><img class="marca-slider-image" :src="marca.slider_image"></a>
				</div>
			</div>
			<div class="bottom-widgets">
				<a class="contacto-anchor" @click="goTo(10)" href="#">{{language=='spanish'?'Contacto': 'Contact'}}</a>
			</div>
		</div>
	</div>
</template>


<script>
import { EventBus } from '../event-bus.js';
export default {
	data() {
		return {
			navToggle: false,
			slider: null,
			video: null,
			marcas: null,
			verticalText: null,
			language: '',
			menu: [
				{
					english_label: 'About Us',
					label: 'Sobre Nosotros',
					page: 2
				},
				{
					page: 3,
					label: 'Aeronaves',
					english_label: 'Aircraft'
				},
				{
					page: 4,
					label: 'Pre-owned',
					english_label: 'Pre-owned'
				},
				{
					page: 5,
					label: 'Entrenamiento',
					english_label: 'Training'
				},
				{
					page: 7,
					label: 'FBO',
					english_label: 'FBO'
				},
				{
					page: 8,
					label: 'Trabajo Aereo',
					english_label: 'Air Work'
				},
				{
					page: 6,
					label: 'Mantenimiento',
					english_label: 'Maintenance'
				},
				{
					page: 9,
					label: 'Noticias',
					english_label: 'News'
				},

			]
		}
	},
	components: {
		'blur': require('../components/Blur.vue'),
		'home-widgets': require('../components/HomeWidgets.vue')
	},
	mounted() {
		setTimeout(() => {
			this.initYoutube()
			setTimeout(() => {
				this.startFirstVideo(3000)
			}, 350)
		}, 1500)
		this.loadData()
		EventBus.$on('dataLoaded', this.loadComponentData)
	},
	methods: {
		goTo(n) {
			this.navToggle = false
			$.fn.fullpage.moveTo(n)
		},
		goToMarca(marca) {
			EventBus.$emit('selectMarca', marca)
			this.goTo(3)
		},
		loadComponentData() {
			let metas = this.$parent.metas
			this.language = this.$parent.lang
			if (this.language == "spanish") {
				this.verticalText = metas.home_vertical_text
			} else {
				this.verticalText = metas.home_vertical_text_english
			}
			this.slider = JSON.parse(metas.home_slider)
			let component = this
			setTimeout(function() {
				$('#home-slider .hero-slider-1').flexslider({
					animation: "slide",
					animationSpeed: 700,
					animationLoop: true,
					slideshow: false,
					pauseOnHover: true,
					easing: "swing",
					controlNav: true,
					directionNav: true,
					before: function (slider) {
						$('#home-slider .flexslider iframe').each(function() {
		                    var player = $(this).data('player')
		                    console.log(player)
		                    if (player && typeof player.stopVideo == "function") {
		                        player.stopVideo()
		                    }
		                })
					},
					after: function (slider) {
						component.startFirstVideo(1)
					},
					start: function (slider) {
					},
					useCSS: false,
				})
				$(window).trigger('resize');
			}, 25);
			setTimeout(function() {
				$(window).trigger('resize');
			}, 250);
			setTimeout(function() {
				$(window).trigger('resize');
			}, 1000);
		},
		startFirstVideo(time) {
			var player = $('#home-slider .flex-active-slide iframe').data('player')
			setTimeout(function() {
				if (player && typeof player.playVideo == "function") {
					player.playVideo()
				}
			}, time)

		},
		loadData: function () {
	        $.get('api/getMarcas', function (response) {
	          this.marcas = response
	        }.bind(this));
	    },
	    setLanguage(language) {
	    	axios.post('api/setLanguage', {lang: language}).then( (response) => {
	    		console.log(response)
	    	})
	    },
	    isYoutube(slide) {
			return slide.image.substr(0,6) != 'assets'
		},
		initYoutube() {
			console.log('init youtube')
			$('#home-slider iframe').each(function(){
                // Create a new player pointer; "this" is a DOMElement of the player's iframe
                var player = new YT.Player(this, {
                    playerVars: {
                        autoplay: 0
                    }
                });
                $(this).data('player', player);
                console.log('init youtube', $(this).data('player'))
                // player.addEventListener("onStateChange", function(state){
                //     switch(state.data)
                //     {
                //         // If the user is playing a video, stop the slider
                //         case YT.PlayerState.PLAYING:
                //             homeSlider.flexslider("stop");
                //             canSlide = false;
                //             break;
                //         // The video is no longer player, give the go-ahead to start the slider back up
                //         case YT.PlayerState.ENDED:
                //         case YT.PlayerState.PAUSED:
                //             homeSlider.flexslider("play");
                //             canSlide = true;
                //             break;
                //     }
                // });
     
                // Watch for changes on the player
            });
		}
	}
}
</script>
<style lang="sass" scoped>
@import './../../sass/_h1.scss'
#home-slider
	position: relative
.hero-slider-1.fullscreen-carousel .inner-caption
	height: 100vh
	padding-left: 0
	padding-right: 0
	padding-top: 0
	width: 100%
	margin: auto
	vertical-align: middle
	background-position: center
	background-size: cover
	background-repeat: no-repeat
.logo img
	@media #{$mobile}
		width: 60px
		margin-bottom: 15px
.hero, .flexslider, .flex-viewport, .slides, .slide, .clone, .overlay-hero, .caption-hero, .inner-caption, .flexslider div, .flex-active-slide, li
	height: 100%
.hero-slider-1.fullscreen-carousel .inner-caption
	padding-left: 0
	padding-right: 0
	padding-top: 0
	width: 100%
	margin: auto
	vertical-align: middle
	background-position: center
	background-size: cover
	background-repeat: no-repeat
.slider-cover
	position: absolute
	height: 2vh
	width: 100%
	bottom: 0
	-webkit-transform: translate3d(0,0,0)
	-ms-transform: translate3d(0,0,0)
	transform: translate3d(0,0,0)
.slide-cover-left
	border-top-left-radius: 100%
	height: 100%
	position: absolute
	width: 50%
	left: 0
	background: white
	-webkit-transform: translate3d(0,0,0)
	-ms-transform: translate3d(0,0,0)
	transform: translate3d(0,0,0)
.slide-cover-right
	border-top-right-radius: 100%
	height: 100%
	position: absolute
	width: 50%
	right: 0
	background: white
	-webkit-transform: translate3d(0,0,0)
	-ms-transform: translate3d(0,0,0)
	transform: translate3d(0,0,0)
.slider-blur
	position: absolute
	height: 100%
	width: 100%
	top: 0
	left: 0
.homeslider-widgets
	position: absolute
	top: 0
	left: 0
	height: 100%
	width: 100%
	.top-widgets
		display:flex
		flex-direction: column
		align-items: center
		justify-content: center
		height: 20%
		width: 100%
		top: 0
		left: 0
		position: absolute
		padding-left: 5%
		padding-top: 2%
		z-index: 300
		.languages
			top: 20px
			right: 20px
			position: absolute
			display: flex
			.lang
				color: white
				cursor: pointer
				margin-right: 20px
		.menu
			position: relative
			color: white
			font-family: pn-sb
			display: inline-flex
			justify-content: flex-start
			flex-direction: row
			align-items: center
			padding: 20px
			text-shadow: 1px 1px black
			@media #{$mobile} 
				display: none
			a
				color: white
				font-size: 18px
				font-family: pn-sb
				margin-right: 10px
				@media #{$mobile} 
					font-size: 13px
			a:hover
				color: grey

	.left-widgets
		position: absolute
		left: 0
		width: 50%
		top: 20%
		height: 80%
		display: flex
		flex-direction: row
		align-items: center
		justify-content: flex-start
		padding-left: 5%
		.homeslider-marcas
			display: flex
			flex-direction: column
			justify-content: center
			align-items: center
			.homeslider-marca
				margin-bottom: 15px
			padding-left: 0	
		.vertical-text
			transform: rotate(-90deg)
			font-family:  pn-sb
			font-size: 20px
			color: white
			position: absolute
			left: 0
			display: none
	.right-widgets
		position: absolute
		right: 0
		width: 50%
		top: 20%
		height: 80%
		display: flex
		flex-direction: column
		justify-content: center
		align-items: flex-end
		padding-right: 30px
		.brand
			color: white
			font-size: 150px
			line-height: 150px
			font-family: pn-sb
		.social-links
			padding-right: 5px
			a
				margin-left: 10px
				color: white
				.fa-icon
					height: 40px
					width: auto
					@media #{$mobile}
						height: 25px
			a:hover
				color: grey
	.bottom-widgets
		position: absolute
		bottom: 80px
		width: 100%
		height: 30px
		display: flex
		flex-direction: row
		justify-content: center
		align-items: center
		a
			font-family: pn-sb
			color: white
			margin-right: 15px
		a:hover
			color: grey



.navicon-wrapper
	display: none
	color: white
	@media #{$mobile}
		display: block

.nav-mobile .navicon-wrapper
	position: absolute
	top: 20px
	right: 20px

.nav-mobile
	position: absolute
	top: 100%
	background-color: black
	width: 100%
	height: 100vh
	left: 0
	top: 0
	display: flex
	flex-direction: column
	align-items: flex-end
	justify-content: flex-start
	width: 100%
	padding: 0 5%
	font-size: 24px
	margin-bottom: 5px
	overflow: hidden
	z-index: 1000
	background-color: blue
	display: flex
	align-items: center
	justify-content: center
	flex-direction: column
	max-height: 100vh
	a
		color: white
		margin: 10px 0
		font-size: 22px
	a:hover, a:focus
		outline: none
		text-decoration: none
		color: #F4C813
	.nav-inside-links
		font-size: 27px
		margin-bottom: 20px
.slide-up-enter-active, .slide-up-leave-active
	transition: max-height .5s

.slide-up-enter, .slide-up-leave-to
	max-height: 0vh
.youtube-container
	height: 100%
	width: 100%
	iframe
		height: 100%
		width: 100%
.marca-slider-image
	height: 100%
	@media #{$mobile}
		height: 75%
.homeslider-marca
	cursor: pointer
	position: relative
	width: 90px
.homeslider-marca:first-child:after
	position: absolute
	content: ""
	top: -7px
	height: 1px
	width: 200%
	right: -50%
	border-top: 1px solid white
.left-widgets:before
	content: ""
	position: absolute
	left: 6%
	bottom: 0
	width: 1px
	height: 120%
	border-left: 1px solid white
.homeslider-marca:before
	position: absolute
	content: ""
	bottom: -7px
	height: 1px
	width: 200%
	right: -50%
	border-bottom: 1px solid white
.menu:before
	position: absolute
	content: ""
	width: 1000%
	left: -6% 
	height: 1px
	border-bottom: 1px solid rgba(255, 255, 255, 0.61)
	bottom: 3px
.contacto-anchor
	text-shadow: 1px 1px black
</style>
<style lang="sass">
#home-slider .flex-control-nav
	z-index: 100000
	bottom: 90px
	top: auto
	li
		a
			width: 16px
			height: 16px
			background-color: #444
			border: 1px solid white
		a.flex-active
			background-color: white


</style>