<template>
	<div id="ventas" class="info-section">
		<page-title :text="'Pre-owned'"></page-title>
		<vh-separator size="0"/>
		<div class="subtitle" v-if="language == 'spanish'">Disponemos de selectas aeronaves con pocas horas de vuelo y excelente equipamiento.<a href="#" @click="goToContact"> Contactanos para más informacion.</a></div>
		<div class="subtitle" v-if="language != 'spanish'">We offer selected aircraft with few hours of flight and excellent equipment.<a href="#" @click="goToContact"> Contact us for more information.</a></div>
		<div class="container">
			<div class="marcas-content" v-if="selectedProduct">
				<div class="image-container" :style="'background-image:url(\'' + selectedImage.slide + '\');'" >
					<img @click="prevProduct" class="modelo-arrow arrow-left" src="../../img/angle-left.svg">
					<img @click="nextProduct" class="modelo-arrow arrow-right" src="../../img/angle-right.svg">
				</div>
				<div class="modelo-content">
					<div class="modelo-description" v-html="language=='spanish'?selectedProduct.description_spanish:selectedProduct.description_english" >
					</div>
				</div>
			</div>
			<div v-if="selectedProduct" ref="slider" class="marcas-anchors">
				<div  class="marcas-slider" :style="{'transform': 'translateY(-' + anchorHeight * anchorsPosition + 'px) translateX(-' + anchorWidth * anchorsPositionLeft + 'px)'}">
					<div :ref="'anchor' + index" class="marca-anchor" v-for="(image, index) in selectedProduct.images">
						<img @click="selectedImage = image; calculateSlide()" :src="image.slide" :class="{'active': selectedImage == image}">
					</div>
				</div>
			</div>
		</div>
		<go-top></go-top>
	</div>
</template>

<script>
import { EventBus } from '../event-bus.js';

export default {
	data() {
		return {
			text: null,
			slider: null,
			products: null,
			selectedProduct: null,
			selectedImage: null,
			language: '',
			lang: '',
			time: 0,
			anchorHeight: 96,
			anchorWidth: 85,
			anchorsPosition: 0,
			anchorsPositionLeft: 0,
		}
	},
	components: {
		'vh-separator': require('../components/VhSeparator.vue'),
		'page-title': require('../components/PageTitle.vue'),
		'two-columns-text': require('../components/TwoColumnsText.vue'),
		'normal-slider': require('../components/NormalSlider.vue'),
		'go-top': require('../components/GoToTopAnchor.vue'),
	},
	mounted() {
		this.loadData()
		EventBus.$on('dataLoaded', this.loadComponentData)
		setInterval(() => {
			this.calculateSlide()
		}, 1000);
	},
	methods: {
		loadComponentData() {
			let metas = this.$parent.metas
			this.language = this.$parent.lang
			if (this.language == "spanish") {
				this.text = metas.fbo_text
			} else {
				this.text = metas.fbo_text_english
			}
			this.slider = JSON.parse(metas.fbo_slider)
		},
		goToContact() {
			$.fn.fullpage.moveTo(10)
		},
		loadData() {
			$.get('api/getProducts', function (response) {
	          this.products = response
	          this.selectedProduct = response[0]
	          if (response[0].images.length > 0) {
	          	this.selectedImage = response[0].images[0]
	          }
	        }.bind(this));
		},
		prevProduct() {
			var currIndex = this.products.indexOf(this.selectedProduct)
			if (currIndex == 0) {
				this.selectedProduct = this.products[this.products.length - 1]
			} else {
				this.selectedProduct = this.products[currIndex - 1]
			}
			this.selectedImage = this.selectedProduct.images[0]
			this.calculateSlide()

		},
		nextProduct() {
			var currIndex = this.products.indexOf(this.selectedProduct)
			if (currIndex == (this.products.length - 1)) {
				this.selectedProduct = this.products[0]
			} else {
				this.selectedProduct = this.products[currIndex + 1]
			}
			this.selectedImage = this.selectedProduct.images[0]
			this.calculateSlide()
		},
		calculateSlide() {
			if (!this.products) {return {}}
			if (!this.selectedProduct) {return {}}
			let firstAnchor = this.$refs.anchor0
			if (!firstAnchor) { return {}}
			if (window.outerWidth < 1199) {
				let anchorWidth = firstAnchor[0].clientWidth
				this.anchorWidth = anchorWidth
				let sliderWidth = this.$refs.slider.clientWidth
				let visible = Math.floor(sliderWidth / anchorWidth)
				let currIndex = this.selectedProduct.images.indexOf(this.selectedImage)
				if (currIndex > (Math.floor(visible / 2))) {
					if(this.selectedProduct.images.length - visible < currIndex) {
						this.anchorsPositionLeft = this.selectedProduct.images.length - visible
					} else {

				 		this.anchorsPositionLeft = currIndex - Math.floor(visible / 2)
					}
				} else {
					this.anchorsPositionLeft = 0
				}
			} else {
				// Anchor Height
				let anchorHeight = firstAnchor[0].clientHeight
				this.anchorHeight = anchorHeight
				// Anchor Position
				let sliderHeight = this.$refs.slider.clientHeight
				let visible = Math.floor(sliderHeight / anchorHeight)
				let currIndex = this.selectedProduct.images.indexOf(this.selectedImage)
				if (currIndex > (Math.floor(visible / 2))) {
					if(this.selectedProduct.images.length - visible < currIndex) {
						this.anchorsPositionLeft = this.selectedProduct.images.length - visible
					} else {

				 		this.anchorsPositionLeft = currIndex - Math.floor(visible / 2)
					}
				} else {
					this.anchorsPosition = 0
				}
			}
		}
	},
}
</script>
<style lang="sass" scoped>

@import './../../sass/_h1.scss'

.container
	position: relative
	display: flex
	flex-direction: row
	flex: 1
	@media screen and (max-width: 1200px)
		width: 100%
		margin-right: 0
		margin-left: 0
		padding-right: 0
		padding-left: 0
	@media #{$mobile}
		flex-direction: column
.image-container
	position: relative
	flex: 2
	display: flex
	justify-content: center
	align-items: center
	padding-left: 0
	padding-right: 0
	padding-top: 0
	padding-bottom: 5px
	width: 100%
	margin: auto
	vertical-align: middle
	background-position: center
	background-size: cover
	background-repeat: no-repeat
	@media #{$mobile}
		flex-direction: column
		width: 90%
	.main-image
		max-height: 100%
		max-width: 100%
		height: auto
		width: auto
		object-fit: contain
		@media screen and (max-width: 1200px)
			width: 100%
			margin-right: 0
			margin-left: 0
			padding-right: 0
			padding-left: 0
#aeronaves 
	display: flex
.marcas-anchors
	display: flex
	flex-direction: column
	align-items: center
	position: relative
	overflow: hidden
	padding: 20px 0
	margin-left: 30px
	@media #{$mobile}
		flex-direction: row
		padding: 0
		margin-left: 0
.marcas-slider
	display: flex
	flex-direction: column
	align-items: center
	justify-content: flex-start
	transition: 1s all
	@media #{$mobile}
		flex-direction: row
.marca-anchor
	padding: 3px 0
	height: 100%
	display: flex
	align-items: center
	justify-content: center
	cursor: pointer
	max-height: 120px
	position: relative
	overflow: hidden
	img
		height: auto
		width: auto
		max-height: 120px
		width: 100px
		-webkit-filter: grayscale(100%)
		filter: grayscale(100%)
		@media screen and (max-width: 1200px)
			max-height: 70px
			max-width: 85%
		&.active
			-webkit-filter: none
			filter: none
.marcas-content
	flex: 1
	display: flex
	flex-direction: column
	position: relative
.description
	padding: 20px 0
	flex: 1
	@media screen and (max-width: 1200px)
		padding: 20px 20px


.modelo-arrow
	position: absolute
	width: 50px
	cursor: pointer
	z-index: 1000
.arrow-left
	left: -37px
.arrow-right
	right: -37px
.fade-enter-active, .fade-leave-active
	transition: opacity .5s
.fade-enter, .fade-leave-to
	opacity: 0
.modelo-content
	position: relative
	width: 100%
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	font-family: pn-sb
	font-size: 20px
	text-align: center
	-webkit-transform: translate3d(0,0,0)
	-ms-transform: translate3d(0,0,0)
	transform: translate3d(0,0,0)
.subtitle
	padding: 10px 0
	text-align: center
	font-size: 15px
	font-family: 'pn'
	@media #{$mobile}
		font-size: 12px
		padding: 5px 0
.modelo-description
	width: 100%
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	font-family: pn-sb
	font-size: 20px
	// background: #333
	// background: rgba(0,0,0,0.18)
	padding: 10px 0
	-webkit-transform: translate3d(0,0,0)
	-ms-transform: translate3d(0,0,0)
	transform: translate3d(0,0,0)
	@media #{$mobile}
		font-size: 12px
.slider-cover
	position: absolute
	height: 4vh
	width: 100%
	bottom: -1px
	-webkit-transform: translate3d(0,0,0)
	-ms-transform: translate3d(0,0,0)
	transform: translate3d(0,0,0)
	@media #{$mobile}
		display: none
.slide-cover-left
	border-top-left-radius: 100%
	height: 100%
	position: absolute
	width: 50%
	left: 0
	background: white
	-webkit-transform: translate3d(0,0,0)
	-ms-transform: translate3d(0,0,0)
	transform: translate3d(0,0,0)
.slide-cover-right
	border-top-right-radius: 100%
	height: 100%
	position: absolute
	width: 50%
	right: 0
	background: white
	-webkit-transform: translate3d(0,0,0)
	-ms-transform: translate3d(0,0,0)
	transform: translate3d(0,0,0)
</style>